[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/disk4/liangshen/practice/bluetooth_arm/code/glib-2.40.0/gio/tests/gdbus-example-objectmanager-server
