[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/disk4/liangshen/practice/bluetooth_arm/code/dbus-1.9.4/test/test-shell-service "this should 'fail' because of an unterminated quote
